{% extends 'adminbase.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>YENİ KATEGORİ EKLE</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Kategori Ekleme</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {{ include('admin/category/_form.html.twig') }}

                            <a href="{{ path('category_index') }}" class="btn btn-primary">back to list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->



{% endblock %}




